.container {
  margin-top: 10vh;
}


mat-card-title {
  margin: 2vh 0 2vh 1vw;
  font-size: 4vh;
  text-align: center;
}

.submit {
  horiz-align: right;
}

.forget-ps {
  text-decoration: none;
  margin-top: 1vh;
}
