<div class="cleat-detail" *ngIf="cleat">
  <div class="product-detail-container">
    <div class="cd-left">
      <img src="{{cleat.image}}" class="cleat-detail-image">
    </div>
    <div class="cd-right">
      <div class="cd-name"><p>{{cleat.name}}</p></div>
      <div class="cd-id">SKU: {{cleat.id}}</div>
      <div class="cd-brand">Vendors: {{cleat.brand}}</div>
      <div class="cd-price">${{cleat.price}}</div>
      <div class="cd-price-bottom"></div>
      <div class="cd-size">
        <div class="size-display">Size: {{selectedSize}}</div>
        <div class="size-option-container">
          <div class="size-option" *ngFor="let size of sizes" (click)="selectSize(size)" [ngClass]="{ selected: selectedSize === size }">
            {{size}}
          </div>
        </div>
        <button mat-button (click)="openSizeGuide()" class="size-guide">Size Guide</button>
      </div>
      <div class="quantity-container">
        <h4>Quantity Selector</h4>
        <div class="quantity-selector">
          <input [(ngModel)]="quantity" min="1" />
          <button class="btn1" (click)="decreaseQuantity(cleat.id)">-</button>
          <button class="btn2" (click)="increaseQuantity(cleat.id)">+</button>
        </div>
      </div>
      <div class="cd-cart-button-container">
        <button class="btn btn-warning" [disabled]="!selectedSize" (click)="addToCart(cleat.id, quantity)" routerLink="/api/cart">ADD TO CART</button>
      </div>
      <div class="add-wishlist-container" (click)="toggleWishlist(cleat)">
        <div class="material-icons">{{ productsInWishlist[cleat.id] ? 'favorite' : 'favorite_border'}}</div>
        <div class="add-wishlist">{{ productsInWishlist[cleat.id] ? 'ADDED TO WISHLIST' : 'ADD TO WISHLIST'}}</div>
      </div>
      <app-star-rating [(rate)]="rating" [readonly]="true"></app-star-rating>

    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel class="comment">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comments
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <app-comment [comments]="comments" [readonly]="true"></app-comment>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
