<div class="container">
  <h2>Add Jersey</h2>
  <form [formGroup]="jerseyAddForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name" [ngClass]="{'is-invalid': jerseyAddForm.controls['name'].invalid && (jerseyAddForm.controls['name'].dirty || jerseyAddForm.controls['name'].touched)}">
      <div class="invalid-feedback" *ngIf="jerseyAddForm.get('name')?.getError('required') && (jerseyAddForm.controls['name'].dirty || jerseyAddForm.controls['name'].touched)">
        Name is required.
      </div>

      <label for="color">Color</label>
      <input type="text" class="form-control" id="color" placeholder="Enter your color" formControlName="color" [ngClass]="{'is-invalid': jerseyAddForm.controls['color'].invalid && (jerseyAddForm.controls['color'].dirty || jerseyAddForm.controls['color'].touched)}">
      <div class="invalid-feedback" *ngIf="jerseyAddForm.get('color')?.getError('required') && (jerseyAddForm.controls['color'].dirty || jerseyAddForm.controls['color'].touched)">
        Color is required.
      </div>

      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" placeholder="Enter your price" formControlName="price" [ngClass]="{'is-invalid': jerseyAddForm.controls['price'].invalid && (jerseyAddForm.controls['price'].dirty || jerseyAddForm.controls['price'].touched)}">
      <div class="invalid-feedback" *ngIf="jerseyAddForm.get('price')?.getError('required') && (jerseyAddForm.controls['price'].dirty || jerseyAddForm.controls['price'].touched)">
        Price is required.
      </div>

      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Enter your country" formControlName="country" [ngClass]="{'is-invalid': jerseyAddForm.controls['country'].invalid && (jerseyAddForm.controls['country'].dirty || jerseyAddForm.controls['country'].touched)}">
      <div class="invalid-feedback" *ngIf="jerseyAddForm.get('country')?.getError('required') && (jerseyAddForm.controls['country'].dirty || jerseyAddForm.controls['country'].touched)">
        Country is required.
      </div>


      <label for="club">Club</label>
      <input type="text" class="form-control" id="club" placeholder="Enter your club" formControlName="club">

      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option [value]="'Adidas'">Adidas</mat-option>
          <mat-option [value]="'Puma'">Puma</mat-option>
          <mat-option [value]="'Nike'">Nike</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="'Male'">Male</mat-option>
          <mat-option [value]="'Female'">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <mat-select formControlName="age">
          <mat-option [value]="'Adult'">Adult</mat-option>
          <mat-option [value]="'Youth'">Youth</mat-option>
        </mat-select>
      </mat-form-field>

      <label for="image">Image</label>
      <input type="text" class="form-control" id="image" placeholder="Enter image URL" formControlName="image" [ngClass]="{'is-invalid': jerseyAddForm.controls['image'].invalid && (jerseyAddForm.controls['image'].dirty || jerseyAddForm.controls['image'].touched)}">
      <div class="invalid-feedback" *ngIf="jerseyAddForm.get('image')?.getError('required') && (jerseyAddForm.controls['image'].dirty || jerseyAddForm.controls['image'].touched)">
        Image Link is required.
      </div>

      <div class="button-container">
        <button class="submit-btn" type="submit" class="btn btn-primary" [disabled]="jerseyAddForm.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>
