<h1>Size Guide</h1>
<p>This is an approximate conversion table to help you find your size. If you have already purchased an item by our brand, we recommend you select the same size as indicated on its label.</p>

<h2>Women's Apparel Sizing</h2>
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>International</th>
      <th>XS</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>XXL</th>
      <th>XXXL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Europe</td>
      <td>32</td>
      <td>34</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
    </tr>
    <tr>
      <td>US</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Chest Fit (inches)</td>
      <td>28"</td>
      <td>30"</td>
      <td>32"</td>
      <td>34"</td>
      <td>36"</td>
      <td>38"</td>
      <td>40"</td>
    </tr>
    <tr>
      <td>Chest Fit (cm)</td>
      <td>71.6</td>
      <td>76</td>
      <td>81</td>
      <td>86</td>
      <td>91.5</td>
      <td>96.5</td>
      <td>101.1</td>
    </tr>
    <tr>
      <td>Waist Fir (inches)</td>
      <td>21"</td>
      <td>23"</td>
      <td>25"</td>
      <td>27"</td>
      <td>29"</td>
      <td>31"</td>
      <td>33"</td>
    </tr>
    <tr>
      <td>Waist Fir (cm)</td>
      <td>53.5</td>
      <td>58.5</td>
      <td>63.5</td>
      <td>68.5</td>
      <td>74</td>
      <td>79</td>
      <td>84</td>
    </tr>
    <tr>
      <td>Hips Fir (inches)</td>
      <td>33"</td>
      <td>34"</td>
      <td>36"</td>
      <td>38"</td>
      <td>40"</td>
      <td>42"</td>
      <td>44"</td>
    </tr>
    <tr>
      <td>Hips Fir (cm)</td>
      <td>81.5</td>
      <td>86.5</td>
      <td>91.5</td>
      <td>96.5</td>
      <td>101</td>
      <td>106.5</td>
      <td>111.5</td>
    </tr>
    <tr>
      <td>Skort Lengths (sm)</td>
      <td>36.5</td>
      <td>38</td>
      <td>39.5</td>
      <td>41</td>
      <td>42.5</td>
      <td>44</td>
      <td>45.5</td>
    </tr>
    </tbody>
  </table>
</div>

<h2>Men's Apparel Sizing</h2>
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>International</th>
      <th>XS</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>XXL</th>
      <th>XXXL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Europe</td>
      <td>32</td>
      <td>34</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
    </tr>
    <tr>
      <td>US</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Chest Fit (inches)</td>
      <td>33-35"</td>
      <td>36-38"</td>
      <td>39-41"</td>
      <td>42-44"</td>
      <td>45-47"</td>
      <td>48-50"</td>
      <td>51-53"</td>
    </tr>
    <tr>
      <td>Chest Fit (cm)</td>
      <td>84-89</td>
      <td>91-97</td>
      <td>99-104</td>
      <td>107-112</td>
      <td>114-119</td>
      <td>122-127</td>
      <td>129-134</td>
    </tr>
    <tr>
      <td>Waist Fir (inches)</td>
      <td>28"</td>
      <td>30"</td>
      <td>32"</td>
      <td>34"</td>
      <td>36"</td>
      <td>38"</td>
      <td>40"</td>
    </tr>
    <tr>
      <td>Waist Fir (cm)</td>
      <td>71</td>
      <td>76</td>
      <td>81</td>
      <td>86</td>
      <td>91.5</td>
      <td>96.5</td>
      <td>101.5</td>
    </tr>
    <tr>
      <td>Skort Lengths (sm)</td>
      <td>76</td>
      <td>77.5</td>
      <td>79</td>
      <td>81</td>
      <td>82.5</td>
      <td>84</td>
      <td>85.5</td>
    </tr>
    </tbody>
  </table>
</div>

