.container {
  margin-left: 35vw;
  margin-top: 20vh;
}

.back {
  margin-top: 4vh;
  width: 25vw;
  display: block;
  background-color: #01a609;
}

.order {
  margin-top: 1vh;
  width: 25vw;
  display: block;
  background-color: #01a609;
}

.material-icons {
  width: 8vw;
  height: 8vh;
  font-size: 8vw;
  font-weight: bold;
  margin-left: 9vw;
}
