.navbar-expand-sm {
  background-color: rgb(59, 176, 74);
}

a {
  cursor: pointer;
}

.navbar-nav {
  margin-left: 35%;
}

.cleats {
  margin-right: 75%;
}

.jerseys {
  margin-left: 75%;
}

i {
  display: inline;
  margin-left: 5px;
}

nav {
  font-size: 2.5vh;
  font-weight: 400;
  height: 6vh;
  vertical-align: center;
}
