<div class="comments">
<!--  <h3>Comments</h3>-->
  <div *ngFor="let comment of comments">
    <div class="comment-container">
      <div class="user-info">
        <div class="username">{{getUsernameFromEmail(comment.username)}}</div>
        <div class="comment-time">{{comment.comment.commentTime | date: 'short'}}</div>
      </div>
      <div class="comment-contents">{{comment.comment.contents}}</div>
    </div>
  </div>
</div>

<!--| date:'short'-->

<!--  <form *ngIf="!readonly" (ngSubmit)="addComment()" #commentForm="ngForm">-->
<!--    <input type="text" [(ngModel)]="newComment" name="newComment" required>-->
<!--    <button type="submit" [disabled]="!commentForm.form.valid">Add Comment</button>-->
<!--  </form>-->

<!--<div class="comment-container">-->
<!--  <div class="user-info">-->
<!--    <div class="user-id">User ID: {{comment.userId}}</div>-->
<!--    <div class="comment-time">{{comment.commentTime | date:'short'}}</div>-->
<!--  </div>-->
<!--  <div class="comment-contents">{{comment.contents}}</div>-->
<!--  <div class="rating">Rating: {{comment.rating}}/5</div>-->
<!--</div>-->
