button {
  margin-top: 5vh;
  width: 10vw;
}

form {
  margin-top: 2vh;
}
.form-control {
  width: 30vw;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.shipping-info {
  margin-bottom: 2vh;
}
